section {
    h2 {
        padding: 1rem .5rem;
        height: 7vh;
    }
    .wrapper {
        display: flex;
    }
    .filter {
        width: 20%;
        min-height: 78vh;
        display: flex;
        flex-direction: column;
        padding: 1rem .5rem;
        border: 1px solid #e6e6e6;
        
        * {
            margin-bottom: 1rem;
        }
    }

    .products {
        width: 80%;
        padding: 2rem;
        border-top: 1px solid #e6e6e6;

        .product {
            height: 17vh;
            display: flex;
            margin-bottom: 1.5rem;

            img {
                min-width: 30%;
                object-fit: contain;
                cursor: pointer;
            }

            .product-description {
                width: 100%;       
                position: relative;
                margin-left: 1rem;
                a {
                    text-decoration: none;
                    color: #000;
                    font-weight: 700;

                    .price {
                        position: absolute;
                        right: 0;
                        transform: translate(-50%, 0);
                    }
                }
                p {
                    margin-top: .7rem;
                }
                .buttons {
                    margin-top: 1rem;
                    button {
                        width: 4rem;
                        height: 2rem;                        
                        margin-right: 1.5rem;
                        border: none;
                        border-radius: 5%;
                        color: #fff;
                        cursor: pointer;
                    }
                    button:hover {
                        opacity: .7;
                    }
                    .basket {
                        background: url('../../../assets/icons/basket-add.svg') center center no-repeat #e70;
                        background-size: 80% 80%;
                    }
                    .basket-remove {
                        background-image: url('../../../assets/icons/basket-remove.svg');
                    }
                    .favorites {
                        background: url('../../../assets/icons/favorites-add.svg') center center no-repeat #2b8000;
                        background-size: 80% 80%;
                    }
                    .compare {
                        background: url('../../../assets/icons/compare-add.svg') center center no-repeat #fddd3a;
                        background-size: 80% 80%;
                    }
                    .compare-delete {
                        background-image: url('../../../assets/icons/compare-delete.svg');
                    }
                }
                .reviews {
                    display: flex;
                    align-items: flex-end;
                    margin-top: .5rem;
                    .rating {
                        margin-right: 1rem;
                        font-size: 1.5rem;
                        line-height: 1.5rem;
                    }
                    .reviews-link {
                        font-weight: normal;
                        text-decoration: underline;
                        color: rgb(165, 165, 165);
                    }
                    .reviews-link:hover {
                        color: rgb(100, 100, 100);
                    }
                }

            }
        }
        .no-results {
            font-size: 3rem;
            text-align: center;
            font-weight: 700;
        }
    }
}