<section>
    <h1 *ngIf="basket.items">Basket</h1>
    <button *ngIf="basket.items" class="remove-all" (click)="deleteAll()">Remove All</button>
    <button 
        *ngIf="basket.items"
        [class.disabled]="!(auth.user | async)"
        [disabled]="!(auth.user | async)"
        routerLink="/checkout"
        class="checkout">Checkout</button>
    <div *ngIf="basket.items" class="total">
        <span class="count">Count: {{basket.count}}</span>
        <span class="price">{{basket.totalPrice}}$</span>
    </div>
    <div *ngFor="let n of basket.items; trackBy: trackById" class="items">
        <img [src]="n.image | getDownloadURL" alt="" 
            routerLink="/product-detail/{{n.id}}">                    
        <div class="item-description">
            <a routerLink="/product-detail/{{n.id}}">
                <span>{{n.model}}</span>
                <span class="price">{{n.price * n.quantity}}$</span>
            </a>
            <p>{{n.description}}</p>
            <div class="quantity">                
                <span>{{n.price}}$</span>
                <button (click)="decrease(n)">-</button>
                <span>{{n.quantity}}</span>
                <button (click)="increase(n)">+</button>
            </div>
            <div class="buttons">
                <button (click)="deleteItem(n.id)" class="remove">Remove</button>
            </div>
        </div>
    </div>
    <div *ngIf="!basket.items" class="basket-empty">
        <span>The basket is empty</span>
    </div>
</section>