<header>
    <div class="header_logo" routerLink="/">
        <span>E</span>Store
    </div>
    <div class="search">
        <app-search></app-search>
    </div>
    <div class="header_buttons">
        <a class="basket" routerLink="/basket">
            <img src="../assets/icons/cart.svg" alt="">
            <div class="basket-count" *ngIf="basketItemsCount">{{basketItemsCount}}</div>
        </a>
        <div *ngIf="auth.user | async as user; else login" class="nav_li_catalog">
            <span class="btn" routerLink="/settings">
                <img src="../../../assets/icons/user-settings.svg" alt="">
            </span>
            <span class="btn" (click)="logout()">
                <img src="../../../assets/icons/logout.svg" alt="">
            </span>
        </div>
        <ng-template #login>
            <a routerLink="/authorization"><img src="../assets/icons/login.svg" alt=""></a>
        </ng-template>
    </div>
</header>
<nav>
    <ul>
        <li class="nav_li_catalog" (click)="navigate(null)">Catalog</li>
        <li (click)="navigate('laptop')">Laptops</li>
        <li (click)="navigate('phone')">Phones</li>
        <li (click)="navigate('tablet')">Tablets</li>
        <li (click)="navigate('ebook')">Ebook</li>
    </ul>
</nav>
