<div>
    <form [formGroup]="form">
        <div class="front-side">
            <label>Number
                <input 
                    type="text" 
                    maxlength="19" 
                    formControlName="number" 
                    [value]="numberFormat()"
                    placeholder="0000 0000 0000 0000">
            </label>
            <div>
                <label>Holder
                    <input 
                        type="text"
                        maxlength="25"
                        formControlName="holder" 
                        [value]="holderFormat()" 
                        placeholder="NAME SURNAME">
                </label>
                <label>Date
                    <input 
                        type="text"
                        maxlength="5"
                        formControlName="date" 
                        placeholder="MM/YY">
                </label>
            </div>
        </div>
        <div class="back-side">
            <div class="line"></div>
            <label>CVV
                <input 
                    type="text"
                    maxlength="3"
                    formControlName="cvv" 
                    placeholder="000">
            </label>
        </div>
    </form>
</div>
