section {
    min-height: 85vh;
}

footer {
    height: 3vh;
    width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
    background-color: #3e4753;

    ul {
        display: flex;
        list-style: none;

        li:not(:last-child) {
            margin-right: 1rem;
        }
    }
}