<div class="search">
    <div class="search-box">
        <div class="search-icon"></div>
        <input #searchBox (input)="search(searchBox.value)">
        <div class="search-clear"
             [class.search-clear-show]="searchBox.value"
             (click)="clear(searchBox)">&times;</div>
    </div>
    
    <ul class="search-result">
        <li *ngFor="let product of products$ | async | slice:0:7" 
            class="search-item"
            routerLink="/product-detail/{{product.id}}"
            (click)="clear(searchBox)">
            <a [innerHTML]="product.model"></a>
        </li>
    </ul>
</div>