<section>
    <div class="wrapper-top">
        <div class="new">
            <div routerLink="/product-detail/9">
                <span class="model">Xiaomi Mi Notebook Pro</span>
                <img src="../../../assets/images/new/1.jpeg" alt="">
                <span class="label">New</span>
            </div>
            <div routerLink="/product-detail/16">
                <span class="model">Xiaomi Mi 10 Ultra</span>
                <img src="../../../assets/images/new/2.jpeg" alt="">
                <span class="label">New</span>
            </div>
            <div routerLink="/product-detail/23">
                <span class="model">Lenovo M10</span>
                <img src="../../../assets/images/new/3.jpeg" alt="">
                <span class="label">New</span>
            </div>
        </div>
        <div class="slider">
            <app-slider></app-slider>
        </div>
    </div>
    <div class="bestsellers">
        <div routerLink="/product-detail/14">
            <img src="../../../assets/images/bestsellers/1.jpeg" alt="">
            <span class="model">Lenovo A6 Note</span>
            <span class="label">Bestseller</span>
        </div>
        <div routerLink="/product-detail/1">
            <img src="../../../assets/images/bestsellers/2.jpeg" alt="">            
            <span class="model">ASUS VivoBook</span>
            <span class="label">Bestseller</span>
        </div>
        <div routerLink="/product-detail/18">
            <img src="../../../assets/images/bestsellers/3.jpeg" alt="">            
            <span class="model">Xiaomi Redmi 9</span>
            <span class="label">Bestseller</span>
        </div>
        <div routerLink="/product-detail/23">
            <img src="../../../assets/images/bestsellers/4.jpeg" alt="">            
            <span class="model">Lenovo M10</span>
            <span class="label">Bestseller</span>
        </div>
        <div routerLink="/product-detail/27">
            <img src="../../../assets/images/bestsellers/5.jpg" alt="">            
            <span class="model">Xiaomi Mi Pad 2</span>
            <span class="label">Bestseller</span>
        </div>
    </div>
</section>
