<div class="content" *ngIf="user && basket">
    <h1 *ngIf="step < 4">
        Step {{step}} of 3. 
        <span [ngSwitch]="step">
            <ng-template ngSwitchCase="1">
                Enter the address
            </ng-template>
            <ng-template ngSwitchCase="2">
                Enter the card
            </ng-template>
            <ng-template ngSwitchCase="3">
                Check information and buy
            </ng-template>
        </span>
        
    </h1>

    <div [ngSwitch]="step" class="steps-wrapper">       

        <div *ngSwitchCase="1" class="step-1">
            <div class="address-form">
                <app-form-address
                    [address]="user.address"
                    (formChanged)="addressFormChanged($event)"
                ></app-form-address>
                <label><input type="checkbox" [(ngModel)]="saveAddress"> Save</label>
            </div>
            <div class="buttons-wrapper">
                <div>
                    <button (click)="back()">< Back</button>
                    <button
                        [disabled]="addressForm.invalid"
                        (click)="next()"
                    >Next ></button>            
                </div>
            </div>
        </div>

        <div *ngSwitchCase="2" class="step-2">
            <div class="card-form">
                <app-form-card
                    [card]="user.card"
                    (formChanged)="cardFormChanged($event)"
                ></app-form-card>
                <label><input type="checkbox" [(ngModel)]="saveCard"> Save</label>
            </div>
            <div class="buttons-wrapper">
                <div>
                    <button (click)="back()">< Back</button>
                    <button 
                        [disabled]="(cardForm.invalid && cardForm.dirty) || cardForm.value.number === ''" 
                        (click)="next()"
                    >Next ></button>            
                </div>
            </div>
        </div>

        <div *ngSwitchCase="3" class="step-3">
            <p class="address">
                <span>Address: </span>
                {{user.address.country}}, 
                {{user.address.city}}, 
                {{user.address.street}}
                {{user.address.house}}, 
                {{user.address.flat}}
            </p>
            <p class="card">
                <span>Card: </span>
                **** **** **** {{user.card.number | slice:15:19}}
            </p>
            <div *ngIf="basket.items" class="total">
                <span class="count">Count: {{basket.count}}</span>
                <span class="price">{{basket.totalPrice}}$</span>
            </div>
            <div class="basket">
                <div *ngFor="let n of basket.items" class="items">
                    <img [src]="n.image | getDownloadURL" alt="">
                    <div class="item-description">
                        <a routerLink="/product-detail/{{n.id}}">
                            <span>{{n.model}}</span>
                            <span class="price">{{n.price * n.quantity}}$</span>
                        </a>
                        <p>{{n.description}}</p>
                        <div class="quantity">
                            <p>Count: <span>{{n.quantity}}</span></p>
                            <p>Price: <span>{{n.price}}$</span></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="buttons-wrapper">
                <div>
                    <button (click)="back()">< Back</button>           
                </div>
                <button (click)="buy()" class="buy">Buy</button>
            </div>
        </div>

        <div *ngSwitchCase="4" class="step-4">
            <div class="purchase-icon"></div>
            <p class="purchase-message">Your purchase has been completed</p>
            <p class="redirect-message">After <span>{{redirectTime}}</span> seconds, you will be redirected to the main page.</p>
        </div>

    </div>
</div>
