div {
    width: 100%;
    form {
        label {
            display: flex;
            flex-direction: column;
            font-weight: bold;
    
            input {
                margin-top: .5rem;
                padding: .2rem .5rem;
                margin-bottom: 2rem;
                font-size: 1.2rem;
                border: 2px solid rgb(160, 160, 160);
            }
        }
        .ng-valid.ng-dirty {
            border: 2px solid green;
        }
        .ng-invalid.ng-dirty {
            border: 2px solid red;
        }
    }
}
