<div>
    <form [formGroup]="form">
        <label>Country
            <input type="text" maxlength="30" formControlName="country">
        </label>
        <label>City
            <input type="text" maxlength="20" formControlName="city">
        </label>
        <label>Street
            <input type="text" maxlength="20" formControlName="street">
        </label>
        <label>House
            <input type="text" maxlength="9" formControlName="house">
        </label>
        <label>Flat
            <input type="text" maxlength="6" formControlName="flat">
        </label>
    </form>
</div>
